# Imports

In [1]:
pip install --upgrade imutils

Requirement already satisfied: imutils in c:\users\thanveer\anaconda3\envs\tensorflowenv\lib\site-packages (0.5.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install opencv-python

Requirement already satisfied: opencv-python in c:\users\thanveer\anaconda3\envs\tensorflowenv\lib\site-packages (4.5.3.56)
Requirement already satisfied: numpy>=1.17.3 in c:\users\thanveer\anaconda3\envs\tensorflowenv\lib\site-packages (from opencv-python) (1.19.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install tqdm

Requirement already satisfied: tqdm in c:\users\thanveer\anaconda3\envs\tensorflowenv\lib\site-packages (4.61.2)
Requirement already satisfied: colorama in c:\users\thanveer\anaconda3\envs\tensorflowenv\lib\site-packages (from tqdm) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from imutils import paths
from tqdm import tqdm
import pandas as pd 
import numpy as np
import shutil
import cv2
import os

In [27]:
import tensorflow as tf

tf.test.is_gpu_available(
    cuda_only=False, min_cuda_compute_capability=None
)

True

In [2]:
# Open the .txt file which have names of training videos
f = open("exp_train.txt", "r")
temp = f.read()
videos = temp.split('\n')

# Create a dataframe having video names
train = pd.DataFrame()
train['video_name'] = videos
train = train[:-1]
train.head()

                                          video_name
0                     blood and gore/ACCEDE00939.mp4
1                     blood and gore/ACCEDE01046.mp4
2  blood and gore/Blood & Gore Movie Scenes - 029...
3  blood and gore/Blood & Gore Movie Scenes - 040...
4  blood and gore/Blood & Gore Movie Scenes - 063...

In [3]:
# Open the .txt file which have names of test videos
with open("exp_test.txt", "r") as f:
    temp = f.read()
videos = temp.split("\n")

# Create a dataframe having video names
test = pd.DataFrame()
test["video_name"] = videos
test = test[:-1]
test.head()

                                          video_name
0                     blood and gore/ACCEDE00740.mp4
1  blood and gore/Blood & Gore Movie Scenes - 005...
2  blood and gore/Blood & Gore Movie Scenes - 083...
3  blood and gore/Blood & Gore Movie Scenes - 105...
4         blood and gore/videoplayback (5) - 015.mp4

In [4]:
# Open the .txt file which have names of test videos
with open("exp_val.txt", "r") as f:
    temp = f.read()
videos = temp.split("\n")

# Create a dataframe having video names
validation = pd.DataFrame()
validation["video_name"] = videos
validation = validation[:-1]
validation.head()

                                          video_name
0  blood and gore/A Nightmare on Elm Street (1984...
1                     blood and gore/ACCEDE00895.mp4
2                     blood and gore/ACCEDE05354.mp4
3                     blood and gore/ACCEDE07847.mp4
4  blood and gore/Blood & Gore Movie Scenes - 011...

In [6]:
def extract_tag(video_path):
    return video_path.split("/")[0]

def separate_video_name(video_name):
    return video_name.split("/")[1]

def rectify_video_name(video_name):
    return video_name.split(" ")[0]

def move_videos(df, output_dir):
    if not os.path.exists(output_dir):
        os.mkdir(output_dir)
    for i in tqdm(range(df.shape[0])):
        videoFile = df['video_name'][i].split("/")[-1]
        videoPath = os.path.join("data", videoFile)
        shutil.copy2(videoPath, output_dir)
    print()
    print(f"Total videos: {len(os.listdir(output_dir))}")

# DataFrame Preparation

In [37]:
train["tag"] = train["video_name"].apply(extract_tag)
train.head()

                                          video_name             tag
0  blood and gore/A Nightmare on Elm Street (1984...  blood and gore
1  blood and gore/A Nightmare on Elm Street (1984...  blood and gore
2  blood and gore/A Nightmare on Elm Street (1984...  blood and gore
3  blood and gore/A Nightmare on Elm Street (1984...  blood and gore
4  blood and gore/A Nightmare on Elm Street (1984...  blood and gore

In [38]:
test["tag"] = test["video_name"].apply(extract_tag)
test.head()

                                          video_name             tag
0  blood and gore/A Nightmare on Elm Street (1984...  blood and gore
1                     blood and gore/ACCEDE00740.mp4  blood and gore
2                     blood and gore/ACCEDE00895.mp4  blood and gore
3                     blood and gore/ACCEDE00939.mp4  blood and gore
4                     blood and gore/ACCEDE01046.mp4  blood and gore

In [45]:
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)

In [7]:
validation["tag"] = validation["video_name"].apply(extract_tag)
validation.head()

                                          video_name             tag
0  blood and gore/A Nightmare on Elm Street (1984...  blood and gore
1                     blood and gore/ACCEDE00895.mp4  blood and gore
2                     blood and gore/ACCEDE05354.mp4  blood and gore
3                     blood and gore/ACCEDE07847.mp4  blood and gore
4  blood and gore/Blood & Gore Movie Scenes - 011...  blood and gore

In [9]:
validation.to_csv("exp_validation.csv", index=False)